{% extends 'backend.html.twig' %}
{% block body %}
  <div class="panel-heading">
    <h3 class="panel-title">Roles list</h3>
  </div>
  <a class="btn btn-success pull-right add-btn" href="/admin/roles/add">Add role</a>

  <div class="panel-body">
    {% if (roles) %}
      <table class="table table-striped table-hover">
        <tr>
          <td>ID</td>
          <td>Role name</td>
          <td>Action</td>
        </tr>

        {% for role in roles %}
          <tr>
            <td>{{ role.id }}</td>
            <td>{{ role.name }}</td>
            <td>
              <a href="#">Edit</a>
              &nbsp;|&nbsp;
              <a href="#">Delete</a>
            </td>
          </tr>
        {% endfor %}
      </table>

    {% endif %}
  </div>
{% endblock %}